In [2]:
import pandas as pd 
from matplotlib import pyplot as plt 
import seaborn as sns
import numpy as np 
from numba import jit

c:\Users\gersh\anaconda3\envs\Lab\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
user_tag= pd.read_csv('train_tag.csv')

In [4]:
user_tag.head(10)

,id,flag,gdr_cd,age,mrg_situ_cd,edu_deg_cd,acdm_deg_cd,deg_cd,job_year,ic_ind,...,hld_crd_card_grd_cd,crd_card_act_ind,l1y_crd_card_csm_amt_dlm_cd,atdd_type,perm_crd_lmt_cd,cur_debit_cnt,cur_credit_cnt,cur_debit_min_opn_dt_cnt,cur_credit_min_opn_dt_cnt,cur_debit_crd_lvl
0,U7A4BAD,0,M,41,B,B,Z,NaN,3,0,...,-1,0,0,0,3,1,0,3492,-1,10
1,U557810,0,M,35,A,NaN,G,NaN,4,0,...,-1,0,0,0,1,1,0,4575,-1,10
2,U1E9240,0,M,53,B,A,C,C,9,0,...,-1,0,0,0,7,2,0,4894,-1,40
3,U6DED00,0,F,41,B,NaN,Z,NaN,0,0,...,-1,0,0,0,1,1,0,4938,-1,10
4,UDA8E28,0,F,42,B,B,Z,B,3,1,...,-1,0,0,0,2,7,0,2378,-1,20
5,UE2EC3C,0,F,48,B,C,31,NaN,8,0,...,-1,0,0,0,1,1,0,1668,-1,20
6,UCEC228,0,F,39,A,B,30,NaN,2,0,...,-1,0,0,0,1,1,0,2309,-1,20
7,U2E6C29,1,M,66,B,C,Z,A,30,0,...,-1,0,0,0,3,2,0,5429,-1,20
8,UB67E38,0,F,39,B,C,31,NaN,1,0,...,-1,0,0,NaN,4,3,0,6525,-1,10
9,UF09E80,0,M,48,B,B,30,B,7,1,...,-1,0,0,0,7,2,0,1982,-1,10

In [5]:
user_tag.dtypes

id                                 object
flag                                int64
gdr_cd                             object
age                                 int64
mrg_situ_cd                        object
edu_deg_cd                         object
acdm_deg_cd                        object
deg_cd                             object
job_year                           object
ic_ind                             object
fr_or_sh_ind                       object
dnl_mbl_bnk_ind                    object
dnl_bind_cmb_lif_ind               object
hav_car_grp_ind                    object
hav_hou_grp_ind                    object
l6mon_agn_ind                      object
frs_agn_dt_cnt                     object
vld_rsk_ases_ind                   object
fin_rsk_ases_grd_cd                object
confirm_rsk_ases_lvl_typ_cd        object
cust_inv_rsk_endu_lvl_cd           object
l6mon_daim_aum_cd                   int64
tot_ast_lvl_cd                     object
pot_ast_lvl_cd                     object
bk1_cur_year_mon_avg_agn_amt_cd     int64
l12mon_buy_fin_mng_whl_tms         object
l12_mon_fnd_buy_whl_tms            object
l12_mon_insu_buy_whl_tms           object
l12_mon_gld_buy_whl_tms            object
loan_act_ind                       object
pl_crd_lmt_cd                       int64
ovd_30d_loan_tot_cnt               object
his_lng_ovd_day                    object
hld_crd_card_grd_cd                object
crd_card_act_ind                   object
l1y_crd_card_csm_amt_dlm_cd        object
atdd_type                          object
perm_crd_lmt_cd                     int64
cur_debit_cnt                       int64
cur_credit_cnt                      int64
cur_debit_min_opn_dt_cnt            int64
cur_credit_min_opn_dt_cnt           int64
cur_debit_crd_lvl                   int64
dtype: object

In [6]:
del user_tag['edu_deg_cd']

In [7]:
user_tag.head(10)

,id,flag,gdr_cd,age,mrg_situ_cd,acdm_deg_cd,deg_cd,job_year,ic_ind,fr_or_sh_ind,...,hld_crd_card_grd_cd,crd_card_act_ind,l1y_crd_card_csm_amt_dlm_cd,atdd_type,perm_crd_lmt_cd,cur_debit_cnt,cur_credit_cnt,cur_debit_min_opn_dt_cnt,cur_credit_min_opn_dt_cnt,cur_debit_crd_lvl
0,U7A4BAD,0,M,41,B,Z,NaN,3,0,0,...,-1,0,0,0,3,1,0,3492,-1,10
1,U557810,0,M,35,A,G,NaN,4,0,0,...,-1,0,0,0,1,1,0,4575,-1,10
2,U1E9240,0,M,53,B,C,C,9,0,0,...,-1,0,0,0,7,2,0,4894,-1,40
3,U6DED00,0,F,41,B,Z,NaN,0,0,0,...,-1,0,0,0,1,1,0,4938,-1,10
4,UDA8E28,0,F,42,B,Z,B,3,1,1,...,-1,0,0,0,2,7,0,2378,-1,20
5,UE2EC3C,0,F,48,B,31,NaN,8,0,1,...,-1,0,0,0,1,1,0,1668,-1,20
6,UCEC228,0,F,39,A,30,NaN,2,0,0,...,-1,0,0,0,1,1,0,2309,-1,20
7,U2E6C29,1,M,66,B,Z,A,30,0,0,...,-1,0,0,0,3,2,0,5429,-1,20
8,UB67E38,0,F,39,B,31,NaN,1,0,0,...,-1,0,0,NaN,4,3,0,6525,-1,10
9,UF09E80,0,M,48,B,30,B,7,1,1,...,-1,0,0,0,7,2,0,1982,-1,10

In [10]:
del user_tag['acdm_deg_cd'] 
del user_tag['deg_cd'] 
del user_tag['mrg_situ_cd'] 
del user_tag['ic_ind'] 
del user_tag['hav_car_grp_ind'] 
del user_tag['hld_crd_card_grd_cd'] 

user_tag.head(10)

KeyError: 'acdm_deg_cd'